
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}


.slider {
    width: 100px;
    height: 100px;
    background-color: #3498db; 
    border-radius: 8px; 
    animation: slide 3s ease-in-out infinite; 
}


@keyframes slide {
    0% {
        transform: translateY(0);
        background-color: #3498db; 
    }
    50% {
        transform: translateY(200px); 
        background-color: #e74c3c; 
    }
    100% {
        transform: translateY(0); 
        background-color: #3498db; 
    }
}
